.formSubmitButton{
    background-color: rgb(111, 137, 185);
    borderColor: gray;
    text-align:  center;
    align-items: center;
    width: 600px;
}

.formRightSide{
    text-align: right;
}

.padding{
    padding: all;
}